:root{
    --bg:#12181b;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Convergence", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: var(--bg);
}
.form {
    position: relative;
    width: 20rem;
    height: 3rem;
}
.form__input {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid #ffffffa4;
    border-radius: 0.5rem;
    font-size: 1rem;
    color: white;
    outline: none;
    padding: 1.25rem;
    background: none;
}
.form__input:hover {
    border-color: #ffffffd3;
}
.form__input:focus {
    border-color: #ffffff;

}
.form__label {
    position: absolute;
    left: 1.5rem;
    top: 0.8rem;
    padding: 0;
    color: #ffffff93;
    cursor: text;
    transition: 250ms cubic-bezier(.79,0,.16,.99);
    background-color: #12181b;
}
/* 1. When the input is in the focus state reduce the size of the label and move upwards 2. Keep label state when content is in input field */
.form__input:focus ~ .form__label, .form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
    top: -0.5rem;
    font-size: 0.8rem;
    left: 0.8rem;
    padding: 0 0.5rem;
    color: #fff;
}